include _components
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block meta
        - const title = 'みす廃アラート'
        - const desc = '✨Misskey での1日のノート数、フォロー数、フォロワー数をカウントし、深夜0時にお知らせする便利サービスです。';
        title= title
        meta(name='description' content=desc)
        meta(property='og:title' content=title)
        meta(property='og:description' content=desc)
        meta(property='og:type' content='website')
        meta(name='twitter:card' content='summary')
        meta(name='twitter:site' content='@Xeltica')
        meta(name='twitter:creator' content='@Xeltica')
    body
        #app
        script(src=`/assets/frontend.${version}.js`)