mixin exta()
    a(href=attributes.href target="_blank" rel="noopener noreferrer")
        block

mixin ranking()
    .xd-card
        .header
            h1.title みす廃ランキング
        .body
            p
                i.fas.fa-users
                strong 登録者数: !{usersCount}人
            +rankingTable()
            p: a(href="/ranking") 全員分見る

mixin rankingTable()
    table
        thead: tr
            th 順位
            th ユーザー
            th レート
        tbody
            -
                let rank = 1;
                let lastRating = '';
            each rec in ranking
                - const rating = rec.rating.toFixed(2);
                tr
                    td=rank
                    td: +exta(href="https://" + rec.host + "/@" + rec.username) @!{rec.username}@!{rec.host}
                    td=rating
                -
                    if (lastRating !== rating) {
                        rank++;
                    }
                    lastRating = rating
