extends _base

block content
    h2 マイページ
    case from
        when "updateSettings"
            p: strong 設定を変更しました。
        when "updateSettings"
            p: strong テスト送信しました。
        default
            p おかえりなさい、@!{ user.username }@!{ user.host } さん。
    
    section#scores
        .xd-cards.center
            +serverInfo()
            .xd-card
                .header
                    h1.title
                        i.fas.fa-chart-area
                        |  あなたの廃人度は…
                .body
                    table
                        thead
                            tr
                                th 内容
                                th スコア
                                th 前日比
                        tbody
                            tr
                                td ノート
                                td !{score.notesCount}
                                td !{score.notesDelta}
                            tr
                                td フォロー
                                td !{score.followingCount}
                                td !{score.followingDelta}
                            tr
                                td フォロワー
                                td !{score.followersCount}
                                td !{score.followersDelta}
    
        section.xd-card#settings
                .header
                    h1.title
                        i.fas.fa-cog
                        |  設定
                .body
                    .xd-alert.danger.mb-2 スコア通知方法に「Misskey に通知」を選んでいる場合、Groundpolis v3 および Misskey v12 の最新版以外では動作しません。めいすきーや古いバージョンをお使いの方は、「自動的にノートを投稿」をお使いください。
                    form(method="post", action="/update-settings")
                        p: label スコア通知方法：
                            select(name="alertMode")
                                option(value="note", selected=user.alertMode === 'note') 自動的にノートを投稿 (標準)
                                option(value="notification", selected=user.alertMode === 'notification') Misskey に通知
                                option(value="nothing", selected=user.alertMode === 'nothing') 通知しない
                        p: label タイムゾーン：(coming soon)
                        button.primary(type="submit") 保存


        section.xd-card#settings
                .header
                    h1.title
                        i.fas.fa-sliders-h
                        |  操作
                .body
                    form.mb-2(action="/send", method="post"): button#send(style="display: inline-block") アラートをテスト送信
                    form.mb-2(action="/logout", method="post"): button.danger#logout(style="display: inline-block") ログアウト
                    form.mb-2(action="/optout", method="post"): button.danger#optout(style="display: inline-block") アカウント連携を解除する

block script
    script.
        history.replaceState(null, null, '/');
        document.getElementById("optout").addEventListener("click", (e) => {
            if (!confirm('連携を解除すると、統計情報などのデータが削除されてしまい、以後アラート機能をご利用いただけなくなります。この操作は変更できません。\n\nそれでもなお、連携を解除しますか？'))
                e.preventDefault();
        });
        document.getElementById("logout").addEventListener("click", (e) => {
            if (!confirm('ログアウトしますか？'))
                e.preventDefault();
        });