doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block meta
		- const title = t ? `${t} | Misskey Tools`: 'Misskey Tools';
		- const desc = d || '✨Misskey での1日のノート数、フォロー数、フォロワー数をカウントし、深夜0時にお知らせする便利サービスです。';
		title= title
		meta(name='description' content=desc)
		meta(property='og:title' content=title)
		meta(property='og:description' content=desc)
		meta(property='og:type' content='website')
		link(rel="preload" href="https://koruri.chillout.chat/koruri.css")
		link(rel="preload", href="/assets/otadesign_rounded.woff")
		link(rel="preload", href="/assets/otadesign_rounded.woff2")
		link(rel="stylesheet" href="https://koruri.chillout.chat/koruri.css")
		script(src='https://kit.fontawesome.com/c7ab6eba70.js' crossorigin='anonymous')
		link(rel="stylesheet", href="/assets/style.css")
	body
		#app: .loading Loading...

		if token
			script.
				const token = '#{token}';
				const previousToken = localStorage.getItem('token');
				const accounts = JSON.parse(localStorage.getItem('accounts') || '[]');
				if (previousToken && !accounts.includes(previousToken)) {
					accounts.push(previousToken);
				}
				localStorage.setItem('accounts', JSON.stringify(accounts));
				localStorage.setItem('token', token);
				history.replaceState(null, null, '/');

		if error
			script.
				window.__misshaialert = { error: '#{error}' };

		script(type='module').
			import RefreshRuntime from 'http://localhost:5173/@react-refresh'
			RefreshRuntime.injectIntoGlobalHook(window)
			window.$RefreshReg$ = () => {}
			window.$RefreshSig$ = () => (type) => type
			window.__vite_plugin_react_preamble_installed__ = true


		script(type='module' src='http://localhost:5173/@vite/client')
		script(type='module' src='http://localhost:5173/src/init.tsx')
